Generate correlation matrices of sensor data within the same timeframe

AUTHOR: DARREN WU

Date: 3/7/2022

Revised from Carmen's code

In [1]:
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import stats

Setup PATH (Directory where air sensor data is stored)

In [2]:
PATH = r"/Users/darrenwu/Bergin_Research/pakistan"
joined_files = os.path.join(PATH, "*.csv")
joined_list = glob.glob(joined_files)
new_df = pd.DataFrame(columns = ['Filler'])

for file in joined_list:
    df = pd.read_csv(file, skiprows = [1])
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], format = '%m/%d/%Y %H:%M')
    
    #extract filename w/o extension & directory list
    col_name = (os.path.splitext(os.path.basename(file))[0]).split(' (')[0]
    
    df.set_index(df['Timestamp'], inplace = True)

    #USE start_time and end_time as arguments to create time interval for measurement

    start_time = '2022-03-07 00:00:00'
    end_time = '2022-03-09 00:00:00'
    
    time_index = [df.loc[(df['Timestamp'] > start_time) & (df['Timestamp'] <= end_time)]['Timestamp'].dt.strftime('%m %d %H')]
    #time_index = [df['Timestamp'].dt.strftime('%m %d %H')]
    df_hour_means = df.groupby(time_index)['PM2.5'].mean()
    new_df.insert(len(new_df.columns), col_name, df_hour_means)


new_df.drop(new_df.columns[0], axis = 1, inplace = True)

#Pearson r correlation analysis method, can change parameter of corr() if needed

new_df[new_df.columns].corr(method = 'pearson')

,10. Dholaipar,21. Jagannath University,"4. Basabo, Kadamtala",5. Shimrail,9. Matuail,Dhaka University 23
10. Dholaipar,1.000000,0.722963,0.729605,0.843629,0.828663,0.127803
21. Jagannath University,0.722963,1.000000,0.746858,0.641453,0.651180,0.117293
"4. Basabo, Kadamtala",0.729605,0.746858,1.000000,0.550596,0.613301,0.488259
5. Shimrail,0.843629,0.641453,0.550596,1.000000,0.720998,-0.119952
9. Matuail,0.828663,0.651180,0.613301,0.720998,1.000000,0.258838
Dhaka University 23,0.127803,0.117293,0.488259,-0.119952,0.258838,1.000000

In [ ]:
def linear_regress(x, y):
    slope, intercept = stats.linregress(x,y)

    return(slope, intercept)

In [4]:
#List of intercepts and slopes of each of the sensors.
print(new_df)
#df_test2 = pd.df()

for column in new_df:
    linear_regress(df.index, column)

           10. Dholaipar  21. Jagannath University  4. Basabo, Kadamtala  \
Timestamp
03 07 00           68.00                     74.25                 53.25
03 07 01           73.00                    106.00                 62.00
03 07 02           79.50                     95.75                 56.75
03 07 03           66.50                     78.25                 62.75
03 07 04           58.50                     64.25                 56.75
03 07 05           52.00                     53.25                 49.75
03 07 06           42.00                     57.25                 40.75
03 07 07           36.50                     45.75                 33.75
03 07 08           35.25                     43.00                 32.25
03 07 09           35.00                     39.75                 31.00
03 07 10           33.75                     68.75                 29.50
03 07 11           40.75                     86.50                 41.75
03 07 12           49.75                     85.00                 38.25
03 07 13          111.25                     85.50                 44.75
03 07 14          110.25                    115.75                 62.50
03 07 15           95.00                    149.25                 67.25
03 07 16           82.00                    161.00                 63.00
03 07 17           79.25                    121.25                 63.00
03 07 18           67.25                     90.75                 59.75
03 07 19           66.75                     90.75                 58.50
03 07 20           72.50                    112.00                 55.75
03 07 21           73.50                     98.75                 63.50
03 07 22           61.25                     85.75                 50.25
03 07 23           51.00                     65.50                 40.25
03 08 00           53.00                     65.25                 35.25
03 08 01           65.00                     73.50                 41.75
03 08 02           62.50                     70.00                 53.00

           5. Shimrail  9. Matuail  Dhaka University 23
Timestamp
03 07 00     89.666667       90.00                56.50
03 07 01     97.000000       95.50                59.00
03 07 02    101.000000       92.00                65.00
03 07 03     99.250000      102.00                65.50
03 07 04     87.250000       72.75                63.75
03 07 05     90.500000       60.50                56.50
03 07 06     71.000000       50.75                48.75
03 07 07     48.750000       43.50                44.00
03 07 08     55.500000       39.75                42.00
03 07 09     49.000000       38.00                37.50
03 07 10     46.000000       34.50                34.50
03 07 11     45.500000       36.50                32.25
03 07 12    147.750000       77.00                32.25
03 07 13    179.250000      117.25                34.25
03 07 14    175.750000      177.25                37.75
03 07 15    171.750000      137.50                44.25
03 07 16    129.750000      129.00                51.50
03 07 17    108.000000      117.50                57.50
03 07 18    127.250000      109.00                64.50
03 07 19     85.750000       94.50                67.00
03 07 20     84.000000       95.50                72.00
03 07 21     90.000000       95.00                77.75
03 07 22     86.750000       89.50                74.00
03 07 23     84.500000      120.50                68.00
03 08 00     78.750000      101.25                60.75
03 08 01     72.250000      148.50                57.00
03 08 02     72.500000       86.25                54.00

AttributeError: module 'pandas' has no attribute 'Dataframe'